<h1>The Oscilloscope File Store </h1>
<div class="panel panel-default">
	<div class="panel-body">
		<p>
			Here you can find the files created by the oscilloscope board, if your teacher has assigned you files then you will be able to access these.
		</p>
		<p>
			Click on the links below
		</p>
	</div>
</div>
<div class="panel panel-default panel-body">
	<table class="table table-striped">
		<thead>
			<td>
				File Name
			</td>
			<td>
				Descripion
			</td>
			<td>
				Date
			</td>
		</thead>
		<% if @files.count != 0 then %>
			<% @files.each do |file| %>
			<% f = File.open(file, &:readline).split(' | ') %>
				<tr>
					<td>
						<a href="graph/<%= file.split('/')[-1].split('.')[0]%>"><%= file.split('/')[-1] %></a>
					</td>
					<td>
						<%= f[0] %>
					</td>
					<td>
						<%= f[1] %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>